# Default
*.class
*.log

# Source: https://alvinalexander.com/source-code/scala/sample-gitignore-file-scala-sbt-intellij-eclipse
# sbt
# (may want to keep parts of 'project')
bin/
project/
target/
build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# Mac specific
.DS_Store
